* {
    box-sizing: border-box;      
}

body {
    background-color: #f0ebd2;   
    margin: 0;        
}

#header {   
    background-image: url(https://raw.githubusercontent.com/justdReas/GruppUppgift01/master/img/Images_1.jpg);
    padding-bottom: 50px;
    max-width: 100%; 
    margin: 0 auto;   
}

.logo1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 0;    
    color: #f0ebd2;
   
}
.logo2 {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    margin-top: -90px;  
    color: #f0ebd2;   
} 

/*menu base styles*/
#navigation {
    width: 100%;
    margin: 0 auto;   
    max-width: 960px; 
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*justfiy-content olabilir*/
}
nav a {
    text-decoration: none;
    text-align: center;
    color: #8b2929; 
    display: block;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 30px;    
    font-weight: bold;
    font-family: 'Annie Use Your Telescope', Arial, Helvetica, sans-serif, sans-serif;;
}
nav a:hover {
    color: #3a7256;
}
.wrapper-1 {
    text-align: center;
    width: 100%; 
}
.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-img{
    padding: 20px 20px 20px;   
}
.circular--square{
    border-radius: 50%;
}
img:hover {
    opacity: .5;
    transition: .9s;
}
.holdingcontainer {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}
.internalcontainer1 {
    flex: 1;
    padding: 30px;
    font-size: 15px;
    font-family: 'ABeeZee', sans-serif;
    margin: 3px;
    font-weight: bold;
    color: #8b2929;
    background: #f0ebd2;
    border-radius: 10px;
}
.internalcontainer2 {
    flex: 1;
    padding: 30px;
    font-size: 15px;
    font-family: 'ABeeZee', sans-serif;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #8b2929;
    background: #f0ebd2;
    border-radius: 10px;
 } 
 .internalcontainer3 {
     flex: 1;
     padding: 30px;
     font-size: 15px;
     font-family: 'ABeeZee', sans-serif;
     margin: 3px;
     font-weight: bold;
     color: #8b2929;
     background: #f0ebd2;
     border-radius: 10px;
 }
.button {
    display: flex;
    justify-content: center;
    border: 1px solid #333;
    color: #8b2929;
    padding: 16px 32px;
    text-decoration: none;    
    border-radius: 10px;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    margin-top: 30px;
  }  
  .button1:hover {
    background-color: #4CAF50;
    color: #f0ebd2;
  }
  .phonelink{
    position: fixed; /* Lock location always on the scree */
    bottom: 0; /* Set to the bottom */
    right: 0; /* Set to the right */
    margin: 10px; /* Add space around background */   
  }
    .icon{
        width: 50px; /* Set width of icon */
        height: 50px; /* Set height of icon */
    } 

  .container{
    width:90%;
    margin: auto;
    overflow: hidden;
}
#contact-section{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(../imgs/contact.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}
#contact-section .container h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238,235,235);
    letter-spacing: 2px;
}

.contact-form i.fa{
font-size: 22px;
padding: 3%;
background-color:none;
margin: 2%;
border-radius: 80%;
cursor: pointer;
border: 2px solid rgb(190,190,190);
color: rgb(190,190,190);
}

.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color:#fff
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
    /*grid-gap: 5px;*/
}

/*form{
    font-size: 16px;
    font-style: italic;
    color: red;
    letter-spacing: 2px;
    border: 5px solid blue;
}*/
input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}
input::placeholder{
    color:#fff;
}
textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;

}

textarea::placeholder{
    color: #fff;
}
/*button*/
.submit{
    width: 15%;
    background: none;
    padding:4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
    border-radius: 10px;

}
.submit:hover{
    background: green;
    transition-duration: 0.4s;
}
h2 {
    text-align: center;
}
  
#social {
    background-color: black;
    color: white;
    height:55px;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 1;
    font-size: 18px;
    text-align: center;
    padding: 15px;
}
#social>i{
    margin-right: 15px;
  }
  #social>i:hover{
     opacity: 0.8;
  }

  
footer{
    width: 100%;
    height: 75px;
    color: white;
    background-color: black;
    line-height: 75px;
    text-align: center;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
 
 }


/* paste all your code above, this is for header and NAV fixed for all pages include @media */
/* flex styles */
@media screen and (min-width: 768px) {

    nav ul {
     display: flex;   
    }
 
    nav li {
        flex: 1 1 0;  /* (flex:  flex-grow flex-shrink flex-basis) */
    }    
 }
    
@media screen and (min-width: 768px) {

    nav ul {
     display: flex;   
    }
 
    nav li {
        flex: 1 1 0;  /* (flex:  flex-grow flex-shrink flex-basis) */
    }    
 }
 
 @media screen and (max-width: 768px) {
     .holdingcontainer {
         flex-direction: column;
     }
 }
 

 @media screen and (max-width: 768px){
    .logo1 {
        font-size: 70px;
        margin-bottom: 15px;
    }

    .logo2 {
        font-size: 20px;
        margin-top: -30px;
    }
 }
 @media screen and (max-width: 768px){
   
    .mobile{
        display: block; /* On small screens make phone icon appear */
    }
}
@media screen and (min-width: 769px){
    .mobile{
        display: none; /* On large screens make phone icon disappear */
    }
    
}
