* {
    box-sizing: border-box;      
}

body {
    background-color: #f0ebd2;   
    margin: 0;        
}

#header {   
    background-image: url(https://raw.githubusercontent.com/justdReas/GruppUppgift01/master/img/Images_1.jpg);
    background-size: cover;
    background-position: 0px 40%;
    padding-bottom: 50px;
    max-width: 100%; 
    margin: 0 auto;   
}

.logo1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 100px;
    text-align: center;
    padding-top: 30px;
    margin-top: 0;  
    color: #f0ebd2;
   
}
.logo2 {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    margin-top: -45px;
    color: #f0ebd2;   
} 
#navigation {
    width: 100%;
    margin: 0 auto;   
   max-width: 960px; 
}

h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bold;
    line-height: 0.6;
    color: #8b2929;
   
}
h2 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 14px;
    line-height: 0.3;
    letter-spacing: 1px; 
    color: #8b2929;
} 

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    /*justfiy-content olabilir*/
}
nav a {
    text-decoration: none;
    text-align: center;
    color: #8b2929; 
    display: block;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 30px;    
    font-weight: bold;
    font-family: 'Annie Use Your Telescope', Arial, Helvetica, sans-serif, sans-serif;;
}
nav a:hover {
    color: #3a7256;
}

.gutter {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
  }

.cards {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-template-columns: 1fr; */
    gap: 5px;
  }

.card {
    background-color: dodgerblue;    
  }
.title {
    font-size: 20px;
    text-decoration: underline dotted #8b2929;
    text-underline-offset: 5px;
    grid-column: 1 / 3;
    background-color: dodgerblue;    
  }
  

/* paste all your code above, this is for header and NAV fixed for all pages include @media */
@media screen and (min-width: 768px) {

    nav ul {
     display: flex;   
    }
 
    nav li {
        flex: 1 1 0;  /* (flex:  flex-grow flex-shrink flex-basis) */
    }
    .gutter {
        grid-template-columns: 0.3fr 3fr 0.3fr;
    }
    
 }

 @media screen and (max-width: 767px){
    
    #header {
        padding-bottom: 50px;
    }
    
    .logo1 {
        font-size: 70px;
        /* padding-top: 30px; */
        margin-bottom: 15px;
    }

    .logo2 {
        font-size: 20px;
        padding-bottom: 15px;
        margin-top: 20px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
 }

