body {
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
  background-color: #f0ebd2;
  color: #8b2929;
}

.topnav {
  overflow: hidden;
  background-color: #1fa04e;

}

.topnav a {
  color: #8b2929;
  text-align: center;
  font-family: 'Annie Use Your Telescope', Arial, Helvetica, sans-serif, sans-serif;
  padding: 12px 30px;
  text-decoration: none;
  font-size: xx-large;
}

.topnav a:hover {
  background-color: #3a7256;
  color: #f0ebd2;
}

.topnav a.active {
  background-color: #3a7256;
  color: #f0ebd2;
}

.content {
  margin: 0px 20%;
  padding-top: 60px;
}