* {
    box-sizing: border-box;      
}

body {
    background-color: #3a7256;   
    margin: 0;        
}

.header {   
    background-image: url(https://raw.githubusercontent.com/justdReas/GruppUppgift01/master/img/Images_1.jpg);
    padding-bottom: 50px;
    max-width: 100%; 
    margin: 0 auto;   
}
.wrapper {
    width: 100%;
    margin: 0 auto;   
   max-width: 960px; 
}
h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 0;    
    color: #f0ebd2;
   
}
h2 {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    margin-top: -90px;  
    color: #f0ebd2;
    
} 
/*menu base styles*/

nav {
  background: #f0ebd2;;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*justfiy-content olabilir*/
}
nav a {
    text-decoration: none;
    text-align: center;
    color: #8b2929; 
    display: block;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 20px;    
    font-weight: bold;
}
nav a:hover {
    color: #3a7256;
}
/*.image-wrapper {
    max-width: 500px;    
}
.image1 {
    width: 100%;
    display: flex;
    max-width: 500px;
    
    
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}*/

.wrapper-1 {
    text-align: center;
    width: 100%; 
}
.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-img{
    padding: 20px 20px 20px;   
}
.circular--square{
    border-radius: 50%;
}
img:hover {
    opacity: .5;
    transition: .9s;
}
 .holdingcontainer {
     width: 100%;
     display: flex;
     box-sizing: border-box;
     flex-direction: row;
 }
 .internalcontainer1 {
     flex: 1;
     padding: 30px;
     font-size: 15px;
     font-family: 'ABeeZee', sans-serif;
     margin: 3px;
     font-weight: bold;
     color: #8b2929;
     background: #f0ebd2;
     border-radius: 10px;
 }
 .internalcontainer2 {
    flex: 1;
    padding: 30px;
    font-size: 15px;
    font-family: 'ABeeZee', sans-serif;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #8b2929;
    background: #f0ebd2;
    border-radius: 10px;
 } 
 .internalcontainer3 {
     flex: 1;
     padding: 30px;
     font-size: 15px;
     font-family: 'ABeeZee', sans-serif;
     margin: 3px;
     font-weight: bold;
     color: #8b2929;
     background: #f0ebd2;
     border-radius: 10px;
 }
.button {
    display: flex;
    justify-content: center;
    border: 1px solid #333;
    color: #8b2929;
    padding: 16px 32px;
    text-decoration: none;    
    border-radius: 10px;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    margin-top: 30px;
  }  
  .button1:hover {
    background-color: #4CAF50;
    color: #f0ebd2;
  }
  .phonelink{
    position: fixed; /* Lock location always on the scree */
    bottom: 0; /* Set to the bottom */
    right: 0; /* Set to the right */
    margin: 10px; /* Add space around background */   
  }
    .icon{
        width: 50px; /* Set width of icon */
        height: 50px; /* Set height of icon */
    }   
/* flex styles */
    
@media screen and (min-width: 768px) {

   nav ul {
    display: flex;   
   }

   nav li {
       flex: 1 1 0;  /* (flex:  flex-grow flex-shrink flex-basis) */
   }    
}

@media screen and (max-width: 768px) {
    .holdingcontainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
   
    .mobile{
        display: block; /* On small screens make phone icon appear */
    }
}
@media screen and (min-width: 769px){
    .mobile{
        display: none; /* On large screens make phone icon disappear */
    }
    
}